@import "src/styles/scss/variables.module";

.rc-pagination {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-bottom: 0;
    align-items: center;
    gap: $spacer * 0.5;
    &-next,
    &-prev {
        display: flex;
        align-items: center;
        gap: $spacer * 0.5;
    }
}
