@import "/src/styles/scss/variables.module";

.button {
    width: $spacer * 2;
    height: $spacer * 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
        display: none !important;
    }
}
