@import "/src/styles/scss/variables.module";

.topMenu {
    // menu style for desktop
    &.desktop {
        display: flex;
        li {
            margin-left: $spacer;
            padding-left: $spacer;
            border-left: 1px solid rgba($white, 0.25);
            &:first-child {
                margin: 0;
                padding: 0;
                border: 0;
            }
            a {
                color: $white;
            }
        }
    }
    // &.mobile {
    //     // menu style for mobile
    //     li {
    //         // color: #ff0;
    //     }
    // }
}
